<div id="title">
    <div>
        <p><%= @post.created_at.to_s(:datetime_jp) %>/書いた人:<%= @post.user.email  %> </p>
        <h1><%= @post.title %></h1>
    </div>
</div>

<div id="article_wrap">

    <div id="content">
        <p> <%= simple_format @post.content %> </p>
    </div>


    <div id="sidebar">

        <h2>★PV数ランキング</h2>
        <ul>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（10PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（8PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（2PV）</span></a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>